.grid-container {
  display: grid;
  grid-template-areas: 
  'header header header'
  'list map numberbox'
  'list map verlaufsdiagramm'
  'list map kuchendiagramm';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.3fr 0.3fr 0.3fr;
  grid-gap: 10px;
  padding: 10px;
}

.list {
  width: 30%;
  height: 100%;
  grid-area: list;
  background-color: red;
}

.map {
  width: 30%;
  height: 100%;
  grid-area: map;
  background-color: green;
}

.numberbox {
  width: 30%;
  height: 30%;
  grid-area: numberbox;
  background-color: yellow;
}

.verlaufsdiagramm {
  width: 30%;
  height: 30%;
  grid-area: verlaufsdiagramm;
  background-color: blue;
}

.kuchendiagramm {
  width: 30%;
  height: 30%;
  grid-area: kuchendiagramm;
  background-color: white;
}

@media only screen and (max-width: 1000px){
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.3fr 1fr 1fr 0.3fr 0.3fr 0.3fr;
    grid-template-areas:
    'header'
    'list'
    'map'
    'numberbox'
    'verlaufsdiagramm'
    'kuchendiagramm';
    grid-gap: 10px;
    padding: 10px;
  }
}
.header-grid{
  display: grid;
    grid-template-columns: 0.04fr 0.7fr 1fr 0.25fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'logo heading togglebutton menuu';
    grid-gap: 10px;
    padding: 10px;
}

.logo {
  grid-area: logo;
  
}

.heading{
  grid-area: heading;
  float: left;
}

.togglebutton {
  grid-area: togglebutton;
  background-color: aqua;
 
}

.menuu {
  grid-area: menuu;
  float: right;
  background-color: aqua;

}